<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Halis</title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
    * {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center
    }
  </style>
</head>
<body>
<p><b style="font-size: 30px">Welcome to Halis!</b></p>
<div th:text="'Current humidity is ' + ${currentHumidity} + '%'"></div>
<div th:text="'Current water level is ' + ${currentWaterLevel} + '/5'"></div>

<div th:if="${isEmptyTank}">
    <p style="color: maroon; font-weight: bold" >Fill the water tank!</p>
    <button onclick="window.location.href = '/';">Fill tank</button>
</div>

<form action="modes" method="post" th:unless="${isEmptyTank}">
    <p><select required="required" size="1" th:name="mode">
        <option disabled selected value="">Select the mode</option>
        <option th:each="mode: ${modes}" th:value="${mode.id}" th:text="${mode.name}"></option>
    </select></p>
    <p><input type="submit" value="Submit"></p>
</form>

</body>
</html>